@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

#mobileNav ul {
    animation-name: slide-in;
    animation-duration: 1s;
}

@keyframes slide-in {
    from {
        background-color: gray;
    }
    to {
        background-color: white;
        
    }
}